# Copy to config.env and fill in your values. Do not commit config.env.

NODE_ENV=production
PORT=3000
PORT1=5000
DATABASE=mongodb+srv://user:<PASSWORD>@cluster.mongodb.net/?retryWrites=true&w=majority
DATABASE_PASSWORD=
JWT_SECRET=
JWT_EXPIRES_IN=10d
JWT_COOKIE_EXPIRES_IN=10
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_HOST=
EMAIL_PORT=465
CLIENT_ID=
CLIENT_SECRET=
TWILIO_ACCOUNTSID=
TWILIO_AUTHTOKEN=
TWILIO_SERVICE=
GOOGLE_CLIENTID=
GOOGLE_CLIENTSECRET=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
MY_APP_SECRET=
MY_NUMBER=
CUSTOMER_ID=
TELESIGNAPIKEY=
OPENAI_API_KEY=
SENDGRID_USERNAME=
SENDGRID_PASSWORD=
STRIPE_SECRET_KEY=
